body {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(207, 13%, 34%);
    text-align: center;
    margin: 0;
}

.white-h1 {
    font-family: 'Overpass', sans-serif;
    color: hsl(0, 0%, 100%);
}

.blue-h1 {
    font-family: 'Overpass', sans-serif;
    color: hsl(208, 49%, 24%);
}

h2 {
    font-family: 'Overpass', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

#header {
    background-image: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)), url('images/bg-pattern-intro.svg');
    background-size: cover;
    border-bottom-left-radius: 72px;
}

nav {
    padding: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.icon-open {
    float: right;
}

.icon-close {
    float: right;
    display: none;
}

.logo {
    display: inline-block;
    margin-right: auto;
}

.menu-buttons {
    display: inline-block;
}

.hamburger-menu {
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    display: none;
}

.hamburger-h3 {
    font-family: 'Overpass', sans-serif;
    color: hsl(208, 49%, 24%);
}

.hamburger-links {
    color: hsl(207, 13%, 34%);
}

#blurb {
    background-image: linear-gradient(to bottom,hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-bottom-left-radius: 48px;
    border-top-right-radius: 48px;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    overflow: hidden;
}

.image-stack {
    position: relative;
    top: 0;
    left: 0;
}

.bottom-img {
    position: relative;
    bottom: 150px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.top-img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}

.image {
    margin: auto;
    display: block;
    width: 110%;
}

.colored-section {
    padding: 3rem;
    line-height: 1.8;
}

.white-section {
    padding: 3rem;
    line-height: 1.8;
}

#footer {
    background-color: hsl(237, 17%, 21%);
    font-family: 'Ubuntu', sans-serif;
    color: hsl(240, 2%, 79%);
    border-top-right-radius: 72px;
    padding: 3rem;
}

.footer-h3 {
    font-weight: 700;
}

.footer-links {
    font-weight: 400;
    white-space: pre;
    line-height: 40px;
}

/* BUTTON */

.button {
    font-family: 'Ubuntu', sans-serif;
    line-height: 36px;
    border-radius: 48px;
    padding: 0 10px;
    cursor: pointer;
    margin-top: 40px;
    border: 1px solid;
    border-color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.button-solid {
    color: hsl(356, 100%, 66%);
}

.button-outline {
    color: hsl(0, 0%, 100%);
    background: none;
}

.button-colored {
    color: hsl(0, 0%, 100%);
    border: none;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    padding: 0 30px;
}

.button-solid:hover {
    background: hsl(355, 100%, 74%);
}